---
title: Official @emrukavina social profiles.
hide_table_of_contents: true
---

:::note

I have received reports from some clients about suspicious messages requesting payments, hosting service passwords, or social media follows. This notice is to clarify how I communicate with clients and to help you stay safe from potential scams.

<details>

  <summary>Open notice</summary>

  **I will NEVER request sensitive information, such as passwords, personal details, or payments, through social media platforms, unsolicited messages, or unofficial channels. All legitimate communications from me will follow strict protocols to ensure your security and privacy.**

---

### How to Identify Legitimate Communications

- Official Email Address: All genuine correspondence from me will originate from an email address ending in **@emrukavina.com**. Always verify the sender’s email address before taking any action.

- No Requests for Sensitive Information: I will never ask for your passwords, payment details, or other personal information via social media, text messages, or unofficial channels.

- No Unsolicited Payment Requests: Any request for payment will always come through an official invoice sent from an @emrukavina.com email address, with clear details about the services provided.

### What to Do If You Receive a Suspicious Message
If you receive a message that claims to be from me but does not come from an @emrukavina.com email address, or if it requests sensitive information or payments, take the following steps:

- Do Not Respond: Avoid engaging with the sender or clicking on any links provided in the message.

- Report the Incident: 
    - Forward the suspicious message to safety@emrukavina.com so I can investigate and take appropriate action.
    - Report the incident to your local authorities, especially if the message appears to be part of a phishing or scam attempt.


Verify with Me: If you’re unsure about the legitimacy of a communication, contact me directly at an safety@emrukavina.com email address to confirm.

</details>

:::

---

## List of official @emrukavina profiles:

- Twitter (X) - [emrukavina](https://x.com/emrukavina)
- Instagram - [emrukavina](https://instagram.com/emrukavina)
- Reddit - [u/emrukavina](https://reddit.com/u/emrukavina)
- Youtube - [@emrukavina](https://youtube.com/@emrukavina)
- Github - [emrukavina](https://github.com/emrukavina)
- Paypal - [emrukavina](https://paypal.me/emrukavina)

:::tip
My social media username will **always** and **only** be *emrukavina*.
:::